body,html {
    height: 100%;
}

.bg {
    background-image: url('./assets/landing.png');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.xynavbar {
    height: 100%;
    width: 10%;
    padding: 20px 0px;
}

/* .typewrite {
    color: black;
    text-align: right;
} */