@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

body,html {
    height: 100%;
}

/* .bg {
    background-image: url('./assets/landing.png');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

.xynavbar {
    padding: 20px 0px;
}

.typewrite {
    color:black;
    font-family: 'Didact Gothic';
    font-weight: 900;
    font-size: 4vmax;
    text-decoration: underline #FFC000;
}

#animdes {
    text-align: right;
    padding-right: 60px;
}
